/*  your css code here. If applicable */
.block-heading{
    color : #3b99e0;
	text-align:center;
  }
p{
	font-size : 15px;
	align-items:center;
	}
.product-details>h3{
	color : #3b99e0;
	font-size : 15px;
	/* align-items:center; */
	
	}
.product-block
{
	display:flex;
}
.product-details{
	justify-content:space-around;
	margin-left:20px;
}
	.Product-Quantity{
	justify-content:space-around;
	margin-left:20px;
		padding:20px;
}
	